---
import Button from './Button.tsx'
import { ArrowDownCircle } from 'react-feather'
import { Link } from 'react-scroll'
---

<section class=" relative h-screen flex items-center justify-center">
	<div class="absolute w-full h-full bg-overlay z-ng-1"></div>
	<img
		class="hero z-ng-2 relative"
		src="/assets/hero.jpg"
		alt=""
		client:media />
	<div class="absolute top-1/3 h-2/3">
		<h1
			class="text-4xl font-bold text-primary w-full xl:w-2/3 text-center mx-auto">
			Bring a friend and your wash is free
		</h1>
		<span
			class="text-white xl:text-lg block w-2/3 mx-auto text-center mt-6 mb-6 italic font-normal"
			>"If ye shall ask anything in my name I will do it" <br /> - John 14:14</span>
		<div
			class="mx-auto flex flex-col xl:flex-row justify-center items-center">
			<Button
				variant="primary"
				className="w-2/3 xl:text-lg my-2 xl:w-auto"
				>See our work</Button>
			<Button
				variant="secondary"
				className="w-2/3 xl:text-lg my-2 xl:w-auto">Contact us</Button>
		</div>
		<div>
			<Link
				className="cursor-pointer hover:bg-overlay"
				to="#services"
				spy={true}
				smooth={true}
				duration={500}>
				<Button variant="icon" className="focus:ring-0 shadow-none">
					<ArrowDownCircle size={24} className="mr-3" />
					Scroll down
				</Button>
			</Link>
		</div>
	</div>
</section>

<style>
	.hero {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
</style>
