<section class="h-screen bg-tertiary w-full flex flex-col py-8" id="next">
	<div class="container mx-auto">
		<h1 class="text-white font-bold text-5xl text-center">Our Portfolio</h1>
		<p class="py-8 text-white w-2/3 text-center mx-auto">
			We handle a wide range of vehicles detailing, including motorbikes,
			utility vehicles and much more. To ensure we work with your vehicle,
			contact us beforehand.
		</p>
		<ul class="flex flex-row justify-between w-1/2 mx-auto">
			<li
				class="text-primary after:block after:bg-primary after:w-full after:h-0.5 after:mt-2">
				Show all
			</li>
			<li class="text-gray-200">Cars</li>
			<li class="text-gray-200">Motorbikes</li>
			<li class="text-gray-200">Utility vechicles</li>
		</ul>
	</div>
</section>
