---
import Gallery from './Gallery.tsx'
---



<section
	class="min-h-screen bg-tertiary w-full flex flex-col py-32"
	id="portfolio">
	<div class="container mx-auto">
		<h1 class="text-white font-bold text-4xl xl:text-5xl text-center">
			Our Portfolio
		</h1>
		<p
			class="py-8 text-white text-sm xl:text-lg w-full xl:w-2/3 text-center mx-auto">
			We handle a wide range of vehicles detailing, including motorbikes,
			utility vehicles and much more. To ensure we work with your vehicle,
			contact us beforehand.
		</p>
		<Gallery client:visible />
	</div>
</section>
